/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #555;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 1.4;
    background-color: rgb(250, 245, 230);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    text-shadow: rgb(0,70,150) 0 0 3px;
    font-size: 3.5rem;
}
h2{
    color: rgba(0,30,70, 0.5);
    font-size: 2rem;
}
h2 strong{
    color: rgba(0,30,70, 1);
}

.main{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(250, 245, 230);
}

.searchForm, .result{
    transition: all 500ms;
}
.searchForm{
    max-height: 250px;
}
.result{
    transform: scaleY(0);
    transform-origin: center top;
}
.state-result .searchForm{
    transform: scaleY(0);
    max-height: 0;
}
.state-result .result{
    transform: scaleY(1);
}

.searchForm select{
    width: 100%;
}
.searchForm label{
    font-size: 1.4rem;
}
body .choices{
    margin-bottom: 12px;
}
body .choices__inner{
    box-sizing: border-box;
    padding: 1px 7.5px 1px;
    min-height: 34px;
    font-size: 1.6rem;
}
body .choices[data-type*=select-one] .choices__inner{
    padding-bottom: 1px;
}

.segmented-button {
    padding: 12px 0;
}
.segmented-button input[type="radio"] {
    width: 0px;
    height: 0px;
    display: none;
}
.segmented-button label {
    display: inline-block;
    vertical-align: middle;
    text-shadow: white;
    background: linear-gradient(#ffffff, #e4e4e4);
    border: 1px solid #b2b2b2;

    color: #666666;
    padding: 2px 24px 1px 24px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0px;
    margin-right: -5px;
}
.segmented-button label {
    *display: inline;
}
.segmented-button label:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
.segmented-button label:active, .segmented-button label.active {
    background: linear-gradient(#e4e4e4, #ffffff);
}
.segmented-button label:disabled, .segmented-button label.disabled {
    background: linear-gradient(#ffffff, #efefef);
    cursor: default;
    color: #b2b2b2;
    border-color: #cccccc;
    box-shadow: none;
}
.segmented-button label:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.segmented-button label:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.segmented-button input:checked + label, .segmented-button label.selected {
    background: linear-gradient(#e4e4e4, #ffffff);
}
.segmented-button input:disabled + label {
    background: linear-gradient(#ffffff, #efefef);
    cursor: default;
    color: #b2b2b2;
    border-color: #cccccc;
    box-shadow: none;
}

button {
    display: inline-block;

    text-shadow: white;
    background: linear-gradient(#ffffff, #e4e4e4);
    border: 1px solid #b2b2b2;
    color: #666666;

    padding: 4px 24px 3px 24px;
    border-radius: 4px;

    vertical-align: middle;
    font-size: 1.6rem;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
button:disabled {
    opacity: 0.5;
    cursor: default;
}
button:disabled:hover {
    box-shadow: none;
    color: #aaa;
    cursor: default;
}

.result {
    font-size: 1.5rem;
}
.result ul {
    list-style-type: none;
    padding: 0;
    margin: 4px 0;

}
.result li{
    position: relative;
    margin: 4px 0;
    padding: 4px 10px 4px 90px;
    background-color: rgba(230, 230, 230, 0.6);
}
.result li .dot{
    position: absolute;
    top: 13px;
    left: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(178, 199, 227);
    border-radius: 50%;
    z-index: 1;
}
.result li:first-of-type .dot {
    border-color: rgba(0, 0, 0, 0);
}
.result li .dot:before{
    content: ' ';

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;

    width: 14px;
    height: 14px;
    border-radius: 50%;

    background-color: rgb(178, 199, 227);
}
.result li:last-of-type .dot:before{
    display: none
}

.result li .dot:after{
    content: ' ';

    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -1px;

    width: 2px;
    height: 35px;
    background-color: rgb(178, 199, 227);
}
.result li:last-of-type .dot:after {
    display: none
}

.result li .dot .in-dot{
    position: absolute;
    top: 19px;
    left: 50%;
    margin-left: -3px;

    width: 2px;
    height: 4px;
    border: 2px solid #eeece6;
    border-top-width: 0;
    border-bottom-width: 0;
}
.result li:last-of-type .dot .in-dot {
    display: none;
}

.result li .icon{
    position: absolute;
    top: 10px;
    left: 45px;
    width: 30px;
    height: 30px;
}

.result li .connection{
    font-weight: bold;
}
.result li .connection .arrow{
    display: inline-block;
    padding: 0 2px;
    background-color: white;
    border-radius: 4px;
}
.result li .price-container{
    position: absolute;
    top: 4px;
    right: 10px;
}
.result li .price,
.result li .promo{
    font-weight: bold;
}
.result li .price.discount{
    font-weight: normal;
    text-decoration: line-through;
}
.result h3{
    position: relative;
    padding: 12px 40px 12px;
    background-color: rgba(220, 220, 220, 0.5);
}
.result h3 .total-time{
    padding: 0 12px;
}
.result h3 .total-cost{
    position: absolute;
    top: 12px;
    right: 10px;
}



@media only screen and (max-width: 640px) {
    .main{
        width: auto;
        margin: 0 20px;
    }

    .result li{
        padding-left: 45px;
    }
    .result li .dot{l
        display: none;
    }
    .result li .icon{
        left: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .main{
        width: auto;
        margin: 0 10px;
    }

    .result li{
        padding-left: 10px;
    }
    .result li .icon{
        display: none;
    }
    .result li .price.discount{
        display: none;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
